@import "../variables";

$balance-padding: 0.3em;

.balance {
  border-collapse: collapse;
  width: 100%;
  font-variant-numeric: proportional-nums;
  td {
    width: 50%;
    padding: $balance-padding 0;
    span {
      padding: 0 $balance-padding;
    }
    .bar {
      display: inline-block;
      text-align: right;
      background-color: $color-green-background;
      transition: width 1s;
    }
    &:first-child {
      border-right: 0.5px solid;
      text-align: right;
      padding-left: $padding;
      .bar {
        float: right;
        direction: rtl;
        text-align: left;
        background-color: $color-red-background;
      }
    }
    &:last-child {
      padding-right: $padding;
    }
  }
}
