@mixin breakpoint-phone {
  @media (max-width: 414px) {
    @content;
  }
}

$padding: 0.5rem;
$border-radius: 0.5rem;

$color-red: #b30000;
$color-red-background: #ff6161;
$color-green-background: #00cb00;
